body {
  padding: 0;
  margin: 0;
  background-color: #f1f2f4;
}

.filter-inside {
  float: right;
  width: 80%;
}

.right-pane ul {
  float: left;
  width: 100%;
  background-color: #98999d;
  margin: 0 0 0;
  padding: 10px 10px 0 10px;
}

#content {
  float: left;
  width: 100%;
  padding: 10px;
}

.right-pane ul li {
  float: left;
  background-color: #ccc;
  margin: 0 10px 0 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #424242;
}

.right-pane ul li span {
  padding: 5px 10px;
  display: inline-block;
  font-size: 14px;
  font-family: arial;
  font-weight: bold;
}

.filter span {
  float: left;
  color: #fff;
  font-size: 20px;
  width: 20%;
  padding-right: 15px;
}

.left-pane ul.list li img {
  margin-top: 12px;
  margin-right: 10px;
}

.filter-inside input {
  width: 95%;
  border-radius: 15px;
  border: 0;
  height: 25px;
  padding: 0 0 0 5%;
}

.disabled {
  display: none;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.left-pane {
  width: 25%;
  float: left;
  background-color: #dee2eb;
  min-height: 800px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  height: 100%;
}

.left-pane li a {
  list-style: none;
  background-image: url(../images/li_img.png);
  background-repeat: no-repeat;
  padding: 10px 0px 10px 25px;
  background-position: 0px 13px;
  float: left;
  color: #424242;
  text-decoration: none;
  font-weight: bold;
  font-family: arial;
  font-size: 14px;
}

.left-pane li {
  list-style-type: none;
  float: left;
  width: 90%;
  line-height: 100%;
  background-color: #f3f3f3;
  border: 1px solid #b5b5b5;
  padding: 0 5%;
  border-right: 0;
  border-left: 0;
}

ul.list {
  padding: 0;
  margin: 0;
}

.right-pane {
  position: relative;
  float: left;
  width: 75%;
  min-height: 800px;
  background-color: #f3f3f3;
  float: right;
}

.right-pane li {
  display: inline-block;
  cursor: pointer;
}


.filter span {
  float: left;
  color: #fff;
  font-size: 20px;
  width: 12%;
}

.left-pane li.active {
  background-color: #414141;
}

.left-pane li.active a {
  color: #fff;
}

.cover {
  float: left;
  width: 100%;
  overflow: hidden;
}

.left-pane h3 {
  padding: 15px 5%;
  margin: 0;
  background-color: #dcdcdc;
  border: 1px solid #b5b5b5;
}

.left-pane img {
  float: right;
}

.filter {
  float: left;
  position: absolute;
  bottom: 0;
  background-color: #404141;
  width: 94%;
  padding: 3%;
}

.filter-inside {
  position: relative;
}

.right-pane ul li.active {
  background-color: #f3f3f3;
}

.filter-inside img {
  position: absolute;
  right: 15px;
  bottom: 6px;
}